/*
1. Blocks: 
    header: - 1100 * 293
    cover: - 1100 * 757
    lots: - 1052 * 723
    about: - 1052 * 595
    footer: - 1100 * 180
2. Similars:
    contacts in header and footer
    menu in header and footer
    logo in header and about
    overlar on cover and cards
3. Colors:
    background: #FFFFFF
    bright font: #FFFFFF
    dark font: 000000
4. Fonts: 
    h1 - Raleway bold 100
    h2 - raleway bold 40
    h3 - raleway bold 22
    p cover - raleway regular 22
    p cards - raleway regular 20
    p side - raleway regular 18
5. Images:
    background-image in cover
    logo
    content-images in cards
    social media icons
6. Complications: 
    - separation dots in header
    - icon
*/
